<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>Task tracker</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/style.css" rel="stylesheet">


    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body id="body_stage">

    <div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Task tracker</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul id="main_menu" class="nav navbar-nav">
              <li id='about_button'><a href='/#about'>About</a></li>
              <li id='authenticate_button'><a href='/#authenticate'>Login/Register</a></li>
              <li id='tasks_button'><a href='/tasks'>Tasks</a></li>
              <li id='contact_button'><a href='/#contact'>Contact</a></li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div id="container_stage" class="container">
        <div class="row">
            <h3>Not found!</h3>
        </div>
    </div>

  </body>
  <script src="./js/main.js"></script>
  <!-- <script src="./js/lang-clj.js"></script> -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


</html>
