<div id="container_stage" class="container">

    <div class="row">
        <h3 id="title"></h3>
            <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Select</th>
          <th>Task name</th>
          <th>Created by</th>
          <th>Date start</th>
            <th>Date end</th>
        </tr>
      </thead>
      <tbody id="task_table">
          <tr><td><input type="checkbox"></td><td>qweerewtrewr wer</td><td>wer ewr wer w</td><td>wer wer ewr ew</td><td>wer ewr ewr</td></tr>
          <tr><td><input type="checkbox"></td><td>qweerewtrewr wer</td><td>wer ewr wer w</td><td>wer wer ewr ew</td><td>wer ewr ewr</td></tr>
          <tr><td><input type="checkbox"></td><td>qweerewtrewr wer</td><td>wer ewr wer w</td><td>wer wer ewr ew</td><td>wer ewr ewr</td></tr>
          <tr><td><input type="checkbox"></td><td>qweerewtrewr wer</td><td>wer ewr wer w</td><td>wer wer ewr ew</td><td>wer ewr ewr</td></tr>
      </tbody>
    </table>

                <hr />
                <button id="singlebutton" name="singlebutton" class="btn btn-primary">Button</button>

  </div>







    </div>

</div>
