<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>Task tracker</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/style.css" rel="stylesheet">
    

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
  </head>

  <body id="body_stage">

    <div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Task tracker</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li id="about_button"><a href="/#about">About</a></li>
            <li id="authenticate_button"><a href="/#authenticate">Login/Register</a></li>
            <li id="contact_button"><a href="/#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div id="container_stage" class="container">

  <div class="row">
    <form class="form-horizontal" method="post" action="/login.html">
      <fieldset>

      <!-- Form Name -->
      <legend>Auth</legend>

      <!-- Text input-->
      <div class="control-group">
        <label class="control-label" for="textinput">User name</label>
        <div class="controls">
          <input id="textinput" name="textinput" placeholder="" class="input-xlarge" type="text">
        </div>
      </div>

      <!-- Password input-->
      <div class="control-group">
        <label class="control-label" for="passwordinput">password</label>
        <div class="controls">
          <input id="passwordinput" name="passwordinput" placeholder="" class="input-xlarge" type="password">
        </div>
      </div>

      <!-- Button (Double) -->
      <div class="control-group">
        <div class="controls">
          <button id="login-btn" name="login-btn" type="submit" class="btn btn-success">Login</button>
          <button id="cancell-btn" name="cancell-btn" class="btn btn-danger">Cancell</button>
        </div>
      </div>

      </fieldset>
    </form>

  </div>

</div><!-- /.container -->

  </body>
  <script src="./js/main.js"></script>
  <!-- <script src="./js/lang-clj.js"></script> -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


</html>
